@import "tailwindcss";

@theme inline {
  --font-text: var(--font-text);
  --font-style: var(--font-style);
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);

  --color-brown: #281D13;
  --color-browncream: #a47b4f;
  --color-brownyellow: #B86C1A;
  --color-gray: #E0D5CB;
  --color-white: #FAF3EF;

  /* Editorial Palette: Pantone as Typography */
  --color-pantone: #271d13;   /* Primary body text & headings */
  --color-canvas: #FBF9F8;    /* Main page background */
  --color-muted: #271d13;     /* Subtle borders & secondary text */
  --color-ink: #271d13;       /* Heavy contrast for buttons & dark sections */
}

html {
  scroll-behavior: smooth;
}


.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }